/* Color Palette */
:root {
    --primary-color: #4E6EFF; /* Primary color (blue) */
    --secondary-color: #FF6A78; /* Secondary color (pink) */
    --accent-color: #FFC947; /* Accent color (yellow) */
    --neutral-dark: #333333; /* Neutral dark color (text) */
    --neutral-light: #FFFFFF; /* Neutral light color (background) */
    --success-color: #3CB371; /* Success color (green) */
    --error-color: #FF6347; /* Error color (red) */
}

/* Reset styles */
body,
header,
main,
footer {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;;
}



h1, h2, h3, h4, h5, h6, p, button {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

button{
    background-color: transparent;
    border: 0;
    color: white;
    margin-left: 0.8rem;
    cursor: pointer;
}

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--neutral-dark); 
    background-color: var(--neutral-light); 
}


.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header{
    grid-column: 1/3;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

header h1{
    font-size: 2rem;
    font-weight: 700;
}

.sidebar{
    padding: 1rem 2rem;
    grid-row: 2/4;
    background-color: var(--secondary-color);
    font-weight: 600;
    color: white;
}

.top{
    margin: 1.6rem 0;
    display: grid;
    gap: 20px;
}

.sidebar .top div:hover,
.sidebar .bottom .add-project:hover{
    background-color: #706161;
    cursor: pointer;
}

.sidebar .top div > h4{
    margin-left: 12px;
}

.sidebar .top > div{
    display: flex;
    align-items: center;
}

.sidebar .bottom{
    margin-top: 2rem;
}

.add-project{
    margin-top: 20px;
}

.sidebar .bottom .add-project .input-field{
    display: flex;
    align-items: center;
    margin-left: 0.8rem;
}


.sidebar .bottom  h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.sidebar .top > div,
.sidebar .bottom > div{
    padding: 12px 10px;
}

.selected{
    background-color: #706161;
}


.input-field{
    padding: 5px;
}

.input-field input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;

}

#add-btn{
    background-color: #3CB371;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5px;
}

#cancel-btn{
    background-color: #FFC947;
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: 5px;

}


.projects > div{
    min-height: 15px;
}

.projects > div:hover{
   background-color: #706161;
    cursor: pointer;
}

.projects > div{
    padding: 10px;
}



.projects > div span{
    margin-left: 10px;
}

main{
    width: 80%;
    margin: 0 auto;
}

.main-header h2{
    font-size: 1.5rem;
    margin-top: 25px;
}


.add-task{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}






footer{
    grid-column: 1/3;
    text-align: center;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color);
}


